// Required
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/BebasNeue-Regular.woff2") format("woff2"),
    url("../fonts/BebasNeue-Regular.woff") format("woff"),
    url("../fonts/BebasNeue-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-size: 48px;
}

$body-bg: #1e1e1e;
$font-family-base: "Bebas Neue";

$custom_colors: (
  "main": #e3d5bb,
  "gris": #c8c8c8,
  "verde": #70e000,
  "naranja": #e29728,
  "grisOscuro": #444444,
  "rojo": #dd2c2c,
);

input::-webkit-placeholder {
  color: #c8c8c8;
}

$theme-colors: map-merge($theme-colors, $custom-colors);

// Required
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

@import "../node_modules/bootstrap/scss/bootstrap";
//Si ponemos reglas aqui se leeran despues de las de bootstrap, seran las que se aplican
.h5 {
  margin: 0;
}
.info {
  font-size: 14px;
  color: rgb(33, 37, 43, 0.8);
}
ul {
  list-style: none;
}
