// Required
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

@font-face {
    font-family: 'Bebas Neue';
    src: url('../public/fonts/BebasNeue-Regular.woff2') format('woff2'),
        url('../public/fonts/BebasNeue-Regular.woff') format('woff'),
        url('../public/fonts/BebasNeue-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


$body-bg:#1E1E1E;
$font-family-base:'Bebas Neue';

$custom_colors:(
    
    "main" :#E3D5BB
);


$theme-colors: map-merge($theme-colors, $custom-colors);

// Required
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

@import "../node_modules/bootstrap/scss/bootstrap";